.page {
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

/* Ocultar el scrollbar nativo */
.muiStack {
  scrollbar-width: none;
}

/* Mostrar un scrollbar personalizado */
.muiStack::-webkit-scrollbar {
  width: 5px;
}

/* Cambiar el color de la pista del scrollbar */
/* .muiStack::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
} */

/* Cambiar el color del thumb del scrollbar */
.muiStack::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 10px;
}